@using NetOpnApiBuilder.Extensions
@model NetOpnApiBuilder.Models.ApiModule[]

@{
    ViewBag.Title = "API Modules";
    Layout = "_Layout";
}

<div class="card bg-light">
    <div class="card-header text-white bg-primary">
        API Modules
    </div>
    <table class="card-body table table-sm">
        <thead>
        <tr>
            <th>Source</th>
            <th>API Name</th>
            <th>CLR Name</th>
            <th class="text-center">Export</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">@(Model.Length) module@(Model.Length == 1 ? "" : "s")</td>
        </tr>
        </tfoot>
        <tbody>
        @foreach (var mod in Model.OrderBy(x => x.Source.Name).ThenBy(x => x.ApiName))
        {
            <tr id="mod@(mod.ID)">
                <td><span title="@(mod.Source.Version)">@mod.Source</span></td>
                <td>
                    <a asp-action="Show" asp-route-id="@mod.ID">
                        @if (mod.HasCommandChanges)
                        {
                            @:@ApiCommand.ChangeMarker
                        }
                        @mod.ApiName
                    </a>
                </td>
                <td>@mod.ClrName</td>
                <td class="text-center">@(mod.Skip ? "N" : "Y")</td>
                <td class="text-right">
                    @Url.EditButton(mod.ID)
                    @Url.ToggleButton(mod.ID, !mod.Skip)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>