@using NetOpnApiBuilder.ViewModels
@model ApiUrlParam
@inject UrlApiDataTypeList DataTypes

@{
    ViewBag.Title = "URL Parameter for " + Model.Command;
    Layout = "_Layout";
}

<div class="col-md-6">
    <div class="card bg-light">
        <div class="card-header text-white bg-primary">
            URL Parameter for @Model.Command
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-route-id="@Model.ID" method="post">
                <div class="form-group">
                    <label>Position</label>
                    <span class="form-control">@Model.Order</span>
                </div>
                <div class="form-group">
                    <label>API Name</label>
                    <span class="form-control">@Model.ApiName</span>
                </div>
                <div class="form-group">
                    <label asp-for="ClrName">CLR Name</label>
                    <input type="text" asp-for="ClrName" class="form-control" />
                    <span class="text-danger" asp-validation-for="ClrName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataType">Data Type</label>
                    <select class="form-control" asp-for="DataType" asp-items="@DataTypes.ListItems">
                        
                    </select>
                    <span class="text-danger" asp-validation-for="DataType"></span>
                </div>
                
                <button class="btn btn-primary" type="submit" title="Update">Update</button>
                &nbsp;&nbsp;
                <a asp-action="Edit" asp-controller="Command" asp-route-id="@Model.CommandID" asp-fragment="up@(Model.ID)" class="btn btn-light" title="Cancel">Cancel</a>
            </form>
        </div>
    </div>
</div>
