@using NetOpnApiBuilder.ViewModels
@using NetOpnApiBuilder.Extensions
@model ApiCommand
@inject ObjectTypeList ObjectTypes
@inject ApiDataTypeList DataTypes

@{
    ViewBag.Title = "Edit Command";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-header text-white bg-primary">
                Edit Command
            </div>
            <div class="card-body">
                <form asp-action="Update" asp-route-id="@Model.ID" method="post">
                    <div class="form-group">
                        <label>Controller</label>
                        <span class="form-control">@Model.Controller</span>
                    </div>
                    <div class="form-group">
                        <label>API Name</label>
                        <span class="form-control">@Model.ApiName</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClrName">CLR Name</label>
                        <input type="text" asp-for="ClrName" class="form-control"/>
                        <span asp-validation-for="ClrName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsePost">Method</label>
                        <select id="methodSelect" asp-for="UsePost" class="form-control">
                            <option value="true">POST</option>
                            <option value="false">GET</option>
                        </select>
                    </div>
                    <div id="postBodyTypeSection" class="form-group">
                        <label asp-for="PostBodyDataType">Request Data Type <small>(for POST only)</small></label> <label title="has no post body">(<input type="checkbox" asp-for="HasNoPostBody"/> none)</label>
                        <select id="postBodyTypeSelect" asp-for="PostBodyDataType" class="form-control" asp-items="@DataTypes.ListItems">
                            <option value="">-</option>
                        </select>
                        <span class="text-danger" asp-validation-for="PostBodyDataType"></span>
                    </div>
                    <div id="postObjectTypeSection" class="form-group">
                        <label asp-for="PostBodyObjectTypeID">Request Object Type <small>(for object data types in POST only)</small></label>
                        <select id="postObjectTypeSelect" asp-for="PostBodyObjectTypeID" class="form-control" asp-items="@ObjectTypes.SelectItems">
                            <option value="">-</option>
                        </select>
                        <span asp-validation-for="PostBodyObjectTypeID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResponseBodyDataType">Response Data Type</label> <label title="has no response body">(<input type="checkbox" asp-for="HasNoResponseBody"/> none)</label>
                        <select id="responseBodyTypeSelect" asp-for="ResponseBodyDataType" class="form-control" asp-items="@DataTypes.ListItems">
                            <option value="">-</option>
                        </select>
                        <span class="text-danger" asp-validation-for="ResponseBodyDataType"></span>
                    </div>
                    <div id="responseObjectTypeSection" class="form-group">
                        <label asp-for="ResponseBodyObjectTypeID">Response Object Type</label>
                        <select id="responseObjectTypeSelect" asp-for="ResponseBodyObjectTypeID" class="form-control" asp-items="@ObjectTypes.SelectItems">
                            <option value="">-</option>
                        </select>
                        <span asp-validation-for="ResponseBodyObjectTypeID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skip">Export Status</label>
                        <select asp-for="Skip" class="form-control">
                            <option value="true">Do Not Export</option>
                            <option value="false">Export</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" title="Update">Update</button>
                    &nbsp;&nbsp;
                    <a asp-action="Test" asp-route-id="@Model.ID" class="btn btn-info" title="Test">Test</a>
                    &nbsp;&nbsp;
                    <a asp-action="Show" asp-controller="Controller" asp-route-id="@Model.ControllerID" asp-fragment="cmd@(Model.ID)" class="btn btn-light" title="Cancel">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-header text-white bg-primary">
                Source
            </div>
            <div class="card-body">
                <pre class="max-y-500">
    @Model.Comment
    @Model.Signature
    @Model.Body
</pre>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-header bg-primary text-white">
                URL Parameters
            </div>
            <table class="card-body table">
                <thead>
                <tr>
                    <th>Position</th>
                    <th>CLR Name</th>
                    <th>Data Type</th>
                    <th>Required</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var p in Model.UrlParams.OrderBy(x => x.Order))
                {
                    <tr id="up@(p.ID)}">
                        <td>@p.Order</td>
                        <td>@p.ClrName</td>
                        <td><span title="@p.DataType.ToName()">@p.DataType.ToShortName()</span></td>
                        <td>@(p.AllowNull ? "N" : "Y")</td>
                        <td>
                            @Url.EditButton(p.ID, "UrlParameter")
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5" class="text-center">
                        @if (Model.UrlParams.Any())
                        {
                            <text>@Model.UrlParams.Count parameter@(Model.UrlParams.Count == 1 ? "" : "s")</text>
                        }
                        else
                        {
                            <text>This command does not have any URL parameters.</text>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-header bg-primary text-white">
                Query Parameters
            </div>
            <table class="card-body table">
                <thead>
                <tr>
                    <th>CLR Name</th>
                    <th>Data Type</th>
                    <th>Required</th>
                    <th>
                        @Url.AddButton("QueryParameter", values: new {commandId = Model.ID})
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var p in Model.QueryParams.OrderBy(x => x.ApiName))
                {
                    <tr id="qp@(p.ID)}">
                        <td>@p.ClrName</td>
                        <td><span title="@p.DataType.ToName()">@p.DataType.ToShortName()</span></td>
                        <td>@(p.AllowNull ? "N" : "Y")</td>
                        <td>
                            @Url.EditButton(p.ID, "QueryParameter")
                            @Url.RemoveButton(p.ID, "QueryParameter")
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" class="text-center">
                        @if (Model.QueryParams.Any())
                        {
                            <text>
                                @Model.QueryParams.Count parameter@(Model.QueryParams.Count == 1 ? "" : "s")
                                @Url.AddButton("QueryParameter", values: new {commandId = Model.ID})
                            </text>
                        }
                        else
                        {
                            <text>
                                This command does not have any query parameters.
                                @Url.AddButton("QueryParameter", values: new {commandId = Model.ID})
                            </text>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    //<![CDATA[
    
    function methodChanged()
    {
        let val = $('#methodSelect').val();
        
                    
        if (val === 'false')
        {   // GET
            $('#postObjectTypeSection').hide();
            $('#postBodyTypeSection').hide();
            $('#postBodyTypeSelect').val('');
            $('#postObjectTypeSelect').val('');
        }
        else    
        {   // POST
            $('#postBodyTypeSection').show();
            postDataTypeChanged();
        }
    }

    function postDataTypeChanged()
    {
        let val = $('#postBodyTypeSelect').val();
        
        if (val === 'Object' || val.endsWith('Objects'))
        {
            $('#postObjectTypeSection').show();
        }
        else
        {
            $('#postObjectTypeSelect').val('');
            $('#postObjectTypeSection').hide();
        }
    }
    
    function responseDataTypeChanged()
    {
        let val = $('#responseBodyTypeSelect').val();
        
        if (val === 'Object' || val.endsWith('Objects'))
        {
            $('#responseObjectTypeSection').show();
        }
        else
        {
            $('#responseObjectTypeSelect').val('');
            $('#responseObjectTypeSection').hide();
        }
    }
    
    $(function(){
        methodChanged();
        responseDataTypeChanged();
        
        $('#methodSelect').change(methodChanged);
        $('#postBodyTypeSelect').change(postDataTypeChanged);
        $('#responseBodyTypeSelect').change(responseDataTypeChanged);
    });
    
    //]]>
    </script>
}